target/
.svn/

.idea
*.iml

bin/
.metadata/
.settings/
.myeclipse/
.classpath
.project
.mymetadata
.myumldata
classes/
*.class
*.tern-project
*.springBeans
*.myhibernatedata
*.externalToolBuilders
/bin/
