<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:security="http://www.springframework.org/schema/security"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd">
          
    
   	<!-- <security:http security="none" pattern="/login.do" />
   	<security:http security="none" pattern="/static/**" />
   	<security:http security="none" pattern="/login.jsp"  />
    <security:http auto-config="false" use-expressions="true">
    	<security:form-login login-page="/login.jsp" default-target-url="/testSuccess.jps" login-processing-url="/login.do" authentication-failure-url="/testFail.jsp" username-parameter="username" password-parameter="password"/>
    	<security:intercept-url pattern="/login.jps*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
      	<security:intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
      	<security:logout invalidate-session="true" logout-success-url="/auth/login" logout-url="/logout.do"/>
    </security:http> -->
    
    <security:http auto-config="true">
    	<security:intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
    </security:http>
    
    <security:authentication-manager>
      <security:authentication-provider>
         <security:user-service>
            <security:user name="user" password="{noop}user" authorities="ROLE_USER" />
            <security:user name="admin" password="{noop}admin" authorities="ROLE_USER, ROLE_ADMIN"/>
         </security:user-service>
      </security:authentication-provider>
    </security:authentication-manager>
   
</beans>
        

