<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:security="http://www.springframework.org/schema/security"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd">
          
    <security:http auto-config="true">
      <security:intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
      <!-- <security:intercept-url pattern="/loginjsp" access="permitAll" /> -->
      <security:form-login login-page='/auth/login?error=true' 
      			default-target-url='/site/list_jsp' 
      			always-use-default-target='true' />
      <security:logout invalidate-session="true" 
				logout-success-url="/auth/login" 
				logout-url="/auth/logout"/>
    </security:http>
    
    <security:authentication-manager>
      <security:authentication-provider user-service-ref="customUserDetailsService">
         <!-- <security:user-service>
            <security:user name="user" password="user" authorities="ROLE_USER" />
            <security:user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN"/>
         </security:user-service> -->
      </security:authentication-provider>
    </security:authentication-manager>
   
	<bean id="customUserDetailsService" class="com.yeren.cms.service.CustomUserDetailsService"/>
</beans>
        
<!-- <beans:beans xmlns="http://www.springframework.org/schema/beans"
	xmlns="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:sec="http://www.springframework.org/schema/security" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/security/oauth2 
    http://www.springframework.org/schema/security/spring-security-oauth2.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd 
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd "> -->
	
	
